# Visual Studio cache
.vs/
*.suo
*.user
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/
TestResults/

# .NET Framework Packages
packages/

# Files built by Visual Studio
*.cache
*.exe
*.dll
*.pdb
*.vshost.*

# Ignorar configuraciones locales de desarrollador
**/App.config

*.log