<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MiConexion"
			 connectionString="Server=LAPTOP-49O3EIO6\VSGESTION;Database=PuntoDeVentaDB;Trusted_Connection=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<runtime>
	</runtime>
</configuration>