<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name="MiConexionDB"
             connectionString="Data Source=AQUI_VA_TU_SERVIDOR_LOCAL;Initial Catalog=PuntoDeVentaDB;Integrated Security=True"
             providerName="System.Data.SqlClient" />
	</connectionStrings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

</configuration>